/* Style untuk wrapper */
#sidebar-wrapper {
    background-color: #007bff;
    min-height: 100vh;
}

#page-content-wrapper {
    width: 100%;
    padding: 20px;
}

#menu-toggle {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
}

/* Sidebar styling */
.list-group-item {
    color: white;
    padding: 15px;
}

.list-group-item.active {
    background-color: #0056b3;
}

/* Responsif layout untuk perangkat kecil */
@media (max-width: 768px) {
    #sidebar-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        transition: all 0.3s ease;
    }

    #page-content-wrapper {
        margin-left: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        transform: translateX(0);
    }

    #wrapper.toggled #page-content-wrapper {
        margin-left: 250px;
    }
}
